body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 15px;
}

h1{
 color: palevioletred;
}


    h2{
        color: palevioletred;
       }

.link-button{
    text-decoration: none;
    font size:20px; ;
    background-color: orange;
    padding:10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, palevioletred, tomato);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    display: inline-block;
    margin-top: 100px;
    display: inline-block;
    
    

}
.half-width img{
    width:80%;
  
}

 .experience{
    display: inline-block;
    padding-left: 20px;
    margin-top: 150px;

}
.top-banner{
    background-image: url(images/biography-bg.png);
    border:1px solid white;
}


.experience img{
    width:30%;
    float:left;
    }
    .footer{
        text-align: center;
        margin-top:200px;
    }
    section{
        height: 500px;
    }